<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en-US</string>
	<key>CFBundleDisplayName</key>
	<string>RDM</string>
	<key>CFBundleExecutable</key>
	<string>RDM</string>
	<key>CFBundleIconFile</key>
	<string>rdm.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.redisdesktop.rdm</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
        <key>CFBundleName</key>
	<string>RDM</string>
        <key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.0</string>
	<key>CFBundleVersion</key>
	<string>0.0.0</string>
        <key>NSHumanReadableCopyright</key>
        <string>© 2013-2019, Igor Malinovskiy.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>CFBundleSupportedPlatforms</key>
	<array><string>MacOSX</string></array>
	<key>LSMinimumSystemVersion</key>
	<string>10.14.0</string>
</dict>
</plist>
