[Desktop Entry]
Version=1.0
Name=Redis Desktop Manager
Comment=Redis Desktop Manager
Type=Application
Categories=Development;
Exec=rdm
Terminal=false
StartupNotify=true
Icon=rdm
