*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
*.sdf
*.opensdf
*/GeneratedFiles/*
build-redis*

.vagrant/*
redis-desktop-manager/Makefile*
build/redis*
build/gbreakpad*
redis-desktop-manager/connections.xml
*.deb
deps/libssh/example/.deps/*
deps/libssh/example/.*
deps/libssh/example/*
deps/libssh/config.status
deps/libssh/docs/Makefile
deps/libssh/libssh2.pc
deps/libssh/libtool
deps/libssh/Makefile
deps/libssh/src/.*
deps/libssh/*.lo
deps/libssh/src/**.o
deps/libssh/*.lo
deps/libssh/*/*.*o
deps/libssh/*/*.la
deps/libssh/tests/*
deps/libssh/src/libssh2_config.h
deps/libssh/src/Makefile
deps/libssh/src/stamp-h1
build-tests-*/*
tests/Makefile
tests/qml_tests/target_wrapper.sh
deps/jsoncpp/buildscons/*
deps/jsoncpp/dist/*
deps/jsoncpp/libs/*
redis-desktop-manager*.gz
build/cpp-coveralls/*
build/requests/*
.svn/
deps/gyp*
*.vsp
*.psess
build/windows/installer/redis-desktop-manager*.exe
vagrant-provision/automake*
RDM.sln.metaproj*
crashreports/*
redis-desktop-manager/ui_*.h
src/ui_*.h
src/Makefile*
build-rdm-*
src/rdm.pro.*
tests/tests.pro.*
.idea*
*~
*Makefile
*.DS_Store
tests/unit_tests/coverage*
*.qmlc
*.jsc
.qmake.stash
parts
prime
stage
3rdparty/python*
__pycache__/