[submodule "3rdparty/crashreporter"]
	path = 3rdparty/crashreporter
	url = https://github.com/RedisDesktop/CrashReporter.git
[submodule "3rdparty/easyloggingpp"]
	path = 3rdparty/easyloggingpp
	url = https://github.com/easylogging/easyloggingpp.git
[submodule "3rdparty/qredisclient"]
	path = 3rdparty/qredisclient
	url = https://github.com/uglide/qredisclient.git
[submodule "3rdparty/gbreakpad"]
	path = 3rdparty/gbreakpad
	url = https://chromium.googlesource.com/breakpad/breakpad
[submodule "3rdparty/qgamp"]
	path = 3rdparty/qgamp
	url = https://github.com/uglide/qgamp.git
[submodule "src/qml/3rdparty/php-unserialize-js"]
	path = src/qml/3rdparty/php-unserialize-js
	url = https://github.com/uglide/php-unserialize-js.git
