*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
*.sdf
*.opensdf
*/GeneratedFiles/*
build-redis*

.vagrant/*
redis-desktop-manager/Makefile*
build/redis*
redis-desktop-manager/connections.xml
