[project]
	description = Open source cross-platform Redis GUI based on Qt 5
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Igor Malinovskiy (uglide)
[access "refs/for/refs/*"]
	read = group user/Igor Malinovskiy (uglide)
	push = group user/Igor Malinovskiy (uglide)
	label-Code-Review = -2..+2 group user/Igor Malinovskiy (uglide)
	label-Verified = -1..+1 group user/Igor Malinovskiy (uglide)
	rebase = group user/Igor Malinovskiy (uglide)
	removeReviewer = group user/Igor Malinovskiy (uglide)
	submit = group user/Igor Malinovskiy (uglide)
[access "refs/heads/*"]
	read = group user/Igor Malinovskiy (uglide)
	create = group user/Igor Malinovskiy (uglide)
	push = +force group user/Igor Malinovskiy (uglide)
	pushMerge = group user/Igor Malinovskiy (uglide)
[access "refs/tags/*"]
	push = +force group user/Igor Malinovskiy (uglide)
	pushTag = group user/Igor Malinovskiy (uglide)
	pushSignedTag = group user/Igor Malinovskiy (uglide)
