[Desktop Entry]
Version=1.0
Name=RESP.app
Comment=Cross-platform open source database management tool for Redis ®
Type=Application
Categories=Development;
Exec=resp
Terminal=false
StartupNotify=true
Keywords=RDM;Redis;
Icon=app.resp.RESP
