[Desktop Entry]
Version=1.0
Name=RDM
Comment=Cross-platform open source database management tool for Redis ®
Type=Application
Categories=Development;
Exec=rdm
Terminal=false
StartupNotify=true
Icon=dev.rdm.RDM
